<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lym.xposed"
    android:versionCode="1"
    android:versionName="1.5" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- 解锁的权限 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" >
    </uses-permission>
    <!-- 亮屏的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
    <!-- 开机自启动 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" >
    </uses-permission>

    <application
        android:name="com.lym.xposed.application.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="com.lym.xposed.activity.DeviceListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.lym.xposed.service.ScriptService"
            android:exported="true" >
        </service>
        <service
            android:name="com.lym.xposed.service.ClientService"
            android:exported="true"
            android:process=":client" >
        </service>

        <receiver android:name="com.lym.xposed.receiver.RebootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter android:priority="1000" >
            </intent-filter>
        </receiver>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <!-- 模块描述 -->
        <meta-data
            android:name="xposeddescription"
            android:value="宝宝知道关注" />
        <!-- 最低版本号 -->
        <meta-data
            android:name="xposedminversion"
            android:value="30" />

        <activity
            android:name="com.lym.xposed.activity.ScriptListActivity"
            android:label="@string/title_activity_script" >
        </activity>
        <activity
            android:name="com.lym.xposed.activity.OptionActivity"
            android:label="@string/title_activity_option" >
        </activity>
        <activity
            android:name="com.lym.xposed.activity.RunActivity"
            android:exported="true"
            android:label="@string/title_activity_run" >
        </activity>
    </application>

</manifest>